<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>

  <h2>ログイン</h2>
  <div class="form-group row">
    <%= f.label :email, for: "inputEmail" %><br />
    <%= f.email_field :email, class: "form-control", id: "inputEmail", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group row">
    <%= f.label :password, for: "inputPassword" %><br />
    <%= f.password_field :password, class: "form-control", id: "inputPassword", autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="checkbox mb-3">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.submit "ログイン", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
