<div class="container mt-20">
    <%= form_for @room do |f| %>
        <div class="row">
            <%= f.label :name, "ルーム名" %>
            <%= f.text_field :name, placeholder: "ルーム名を入力" %>
        </div>
        
        <div>
            <%= f.label :introduction, "ルーム紹介" %>
            <%= f.text_area :introduction, placeholder: "ルームの説明を入力" %>
        </div>
        
        <div>
            <%= f.label :fee, "料金" %>
            <%= f.number_field :fee, placeholder: "1日あたりの料金を入力" %>
        </div>
        
        <div>
            <%= f.label :address, "住所" %>
            <%= f.text_field :address, placeholder: "住所を入力" %>
        </div>
    
        <div class="form-control">
            <%= f.label :image, "ルーム画像" %>
            <%= f.file_field :image %>
        </div>
        
        <div class="form-control">
            <%= f.submit "登録" %>
        </div>
    <% end %>
</div>
