<% @reservations.each do |reservation| %>
  <div class="container-fiuld reservations">
    <h4 class="pb-4">予約済みルーム一覧</h4>
      <table>
        <thead>
          <tr align="center">
            <th>ルーム画像</th>
            <th>ルーム名</th>
            <th>ルーム紹介</th>
            <th>合計料金</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>予約確定日時</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to room_path(reservation.room.id) do %><%= image_tag("#{reservation.room.image}") %><% end %>
            </td>
            <td class="posts-name"><%= link_to room_path(reservation.room.id) do %><%= reservation.room.name %><% end %></td>
            <td class="posts-content"><%= reservation.room.introduction %></td>
            <td class="price-icon"><%= reservation.number.to_i * reservation.room.fee.to_i %></td>
            <td><%= reservation.start_day %></td>
            <td><%= reservation.finish_day %></td>
            <td><%= reservation.created_at %></td>
          </tr>
        </tbody>
      </table>
  </div>
<% end %>