<div class="container room-show">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag("#{@room.image}") %>
      <div class="card">
        <div class="card-body">
          <%= link_to "/" do %>
            <p>投稿者アイコン</p>
            <%= image_tag("#{@room.user.image}") %>
          <% end %>
        </div>
        <div class="card-text">
          <h4>ルーム紹介</h4>
          <p class="room-show-profile-name"><span>ルーム名：</span><%=@room.name %></p>
          <p class="room-show-profile-address"><span>住所：</span><%=@room.address %></p>
          <p class="room-show-detail-introduction"><span>紹介：</span><%=@room.introduction %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="room-show-nav">
        <h5 class="price-icon"><span>¥</span><%= @room.fee %>/日</h5>
        <div class="room-show-date-select">
          <%= form_with url: new_room_reservation_path(@room.id), method: :get, local: true do |f| %>
          <div class="form-group row">
            <%= f.label :start_day, "開始日", class: "col-sm-3 col-form-label", for: "exampleSd" %>
            <div class="col-sm-10">
              <%= f.date_field :start_day, class: "form-control", id: "exampleSd" %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :finish_day, "終了日", class: "col-sm-3 col-form-label", for: "exampleFd" %>
            <div class="col-sm-10">
              <%= f.date_field :finish_day, class: "form-control", id: "exampleFd" %>
            </div>
          </div>
          <div class="form-group row">
            <%= f.label :number, "人数", class: "col-sm-3 col-form-label", for: "exampleNumber" %>
            <div class="col-sm-10">
              <%= f.number_field :number, class: "form-control", id: "exampleFd"%>
            </div>
          </div>
            <%= f.hidden_field :room_id, :value => @room.id %>
          <div class="form-group row">
            <div class="col-sm-10">
            <%= f.submit "予約する", class: "btn btn-primary w-50" %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
