<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin" }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <h2>新規登録</h2>
  <div class="form-group row">
    <%= f.label :name, for: "inputName" %><br />
    <%= f.text_field :name, class: "form-control", id: "inputName", autofocus: true, autocomplete: "name" %>
  </div>
  
  <div class="form-group row">
    <%= f.label :email, for: "inputEmail" %><br />
    <%= f.email_field :email, class: "form-control", id: "inputEmail", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group row">
    <%= f.label :password, for: "inputPassword" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-control", id: "inputPassword", autocomplete: "new-password" %>
  </div>

  <div class="form-group row">
    <%= f.label :password_confirmation, for: "inputConfirmation" %><br />
    <%= f.password_field :password_confirmation, class: "form-control", id: "inputConfirmation", autocomplete: "new-password" %>
  </div>

  <div class="form-group row">
    <%= f.submit "新規登録", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
